<div fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-left: 1em">
<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let project of projects">
  <mat-card class="project">
    <mat-card-header>
      <mat-card-title>{{ project.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list (selectionChange)='onTaskChange($event)'>
        <mat-list-option  checkboxPosition='before' value='{{todo.id}}}' selected={{todo.isComplited}} *ngFor="let todo of project.todos">
          {{todo.text}}
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
 </div>
</div>
